[submodule "libs/luajit"]
	path = libs/luajit
	url = https://github.com/9chu/LuaJIT-cmake
[submodule "libs/sol2"]
	path = libs/sol2
	url = https://github.com/ThePhD/sol2
[submodule "libs/replxx"]
	path = libs/replxx
	url = https://github.com/AmokHuginnsson/replxx
[submodule "libs/ucl"]
	path = libs/ucl
	url = https://github.com/basicer/ucl
